.faq__block {
  display: flex;
  width: 100%;
}

.faq__details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details__head {
  height: 100px;
  width: 100%;
  background: linear-gradient(90deg, #00C2FF 0%, rgba(73, 203, 244, 0) 100%);
  padding: 36px 48px;
  border-radius: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #14063D;
  cursor: pointer;
}

.details__button {
  background: #49CBF4;
  padding: 36px 40px;
  border-radius: 200px;
  height: fit-content;
}

.details__button img {
  width: 24px;
  height: 24px;
}

.details__button--rotate {
  transform: rotate(90deg);
}

.faq__summary {
  background: linear-gradient(90deg, #00C2FF 0%, rgba(73, 203, 244, 0) 100%);
  border-radius: 50px;
  width: 100%;
  padding: 36px 48px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #14063D;
}

.faq__head--active {
  border-radius: 50px 50px 0 0;
}

.faq__summary--active {
  border-radius: 0 0 50px 50px;
}